


body {
    font-family: sans-serif;
    padding: 80px 20px 0;
    background-color: #ECD5F2;
}

.header {
    position: fixed;
    background-color: blue;    
    top: 0;
    left: 0;
    height: 90px;
    width: 100%
}


